@font-face {
  font-family: "sortsmillgoudy";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SortsMillGoudy-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "sortsmillgoudy-italic";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SortsMillGoudy-Italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "sourcesans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SourceSans3-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "sourcesans-italic";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/SourceSans3-Italic-VariableFont_wght.ttf") format("truetype");
  font-display: swap;
}
