@use "sass:map";
@use "../variables";

$grid-gap: (
  "sm": variables.$space-12,
  "md": variables.$space-16,
  "lg": variables.$space-20,
  "xl": variables.$space-24,
);

@mixin make-grid-classes() {
  @for $i from 1 through 12 {
    .column-#{$i} {
      flex-basis: calc(100% / 12 * $i);
    }
  }

  @each $bp-name, $bp-value in variables.$breakpoints-map {
    @media only screen and (min-width: $bp-value) {
      @for $i from 1 through 12 {
        .column-#{$bp-name}-#{$i} {
          flex-basis: calc(100% / 12 * $i);
          padding-bottom: map.get($grid-gap, $bp-name);
          &:not(:last-of-type) {
            padding-right: map.get($grid-gap, $bp-name);
          }
        }
      }
    }
  }
}
