@use "sass:map";
@use "~/assets/css/variables";

$spacings-mobile: (
  "s": variables.$space-16,
  "m": variables.$space-32,
  "l": variables.$space-48,
);
$spacings-tablet: (
  "s": variables.$space-32,
  "m": variables.$space-48,
  "l": variables.$space-72,
);
$spacings-desktop: (
  "s": variables.$space-48,
  "m": variables.$space-72,
  "l": variables.$space-128,
);

@mixin vertical-rhythm($size: l) {
  margin-bottom: map.get($spacings-mobile, $size);

  @media screen and (width > 680px) {
    margin-bottom: map.get($spacings-tablet, $size);
  }

  @media screen and (width > 1200px) {
    margin-bottom: map.get($spacings-desktop, $size);
  }
}
