// Blues
$color-blue-900: #141c25;
$color-blue-800: #1b2632;
$color-blue-700: #222f3e;
$color-blue-600: #29394b;
$color-blue-500: #304358;
$color-blue-400: #364c65;
$color-blue-300: #3d5671;
$color-blue-200: #4b698b;
$color-blue-100: #597ca4;

// Grays
$color-black: #06090c; // comes from blues
$color-gray-900: #3b3b3b;
$color-gray-800: #4e4e4e;
$color-gray-700: #3b3b3b;
$color-gray-600: #626262;
$color-gray-500: #767676;
$color-gray-400: #898989;
$color-gray-300: #9d9d9d;
$color-gray-200: #b0b0b0;
$color-gray-100: #c4c4c4;
$color-white: #fff;

// Typography
$color-text: $color-black;
$color-text-inverted: $color-white;
