$space-4: 4px;
$space-8: 8px;
$space-12: 12px;
$space-16: 16px;
$space-20: 20px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;
$space-96: 96px;
$space-128: 128px;
$space-144: 144px;
$space-160: 160px;
$space-flex-8: clamp($space-4, calc($space-4 + 0.5vw), $space-8);
$space-flex-16: clamp($space-8, calc($space-8 + 1vw), $space-16);
$space-flex-32: clamp($space-16, calc($space-16 + 2vw), $space-32);
$space-flex-48: clamp($space-24, calc($space-24 + 3vw), $space-48);
$space-flex-64: clamp($space-32, calc($space-32 + 4vw), $space-64);
$space-flex-80: clamp($space-40, calc($space-40 + 5vw), $space-80);
$space-flex-96: clamp($space-48, calc($space-48 + 6vw), $space-96);
$space-flex-128: clamp($space-64, calc($space-64 + 8vw), $space-128);
$space-flex-144: clamp($space-128, calc($space-128 + 8vw), $space-144);
$space-flex-160: clamp($space-80, calc($space-80 + 8vw), $space-160);
